.basic-modal-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}

.basic-modal-content {
  white-space: pre-line;
  line-height: 22px;
  margin-bottom: 15px;
}

.basic-modal-close-button {
  float: right;
  background-color: #042402;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
}

.basic-modal-close-button:hover {
  transform: scale(1.05);
}