.title {
  font-family: SmallPixel;
  font-size: 120px;
  letter-spacing: 4px;
  animation: pulsate 2s ease-in-out infinite alternate;
}

@keyframes pulsate {

  0%,
  6%,
  10%,
  20%,
  30%,
  40%,
  50%,
  61%,
  70%,
  80%,
  90%,
  100% {
    text-shadow:
      0px 2px 4px #fff,
      0px 2px 11px #9de2ae,
      0px 2px 19px #3e764c,
      0px 2px 40px #3e764c,
      0px 2px 80px #3e764c,
      0px 2px 90px #092c12,
      0px 2px 100px #092c12,
      0px 2px 150px #092c12;
    color: white;
  }

  5%,
  60% {
    text-shadow: none;
    color: rgb(255 255 255 / 20%);
  }
}