.title {
  font-family: NeonBallroom;
  font-size: 120px;
  letter-spacing: 4px;
  animation: flicker 2s ease-in-out infinite alternate;
  text-shadow:
    0px 1px 4px #fff,
    0px 1px 11px #9de2ae,
    0px 1px 19px #3e764c,
    0px 1px 40px #3e764c,
    0px 1px 80px #3e764c,
    0px 1px 90px #092c12,
    0px 1px 100px #092c12,
    0px 1px 150px #092c12;
}

.title span:nth-of-type(1) {
  animation: blink 10s ease-in-out 3s infinite;
}

.title span:nth-of-type(2) {
  animation: blink 10s ease-in-out 12s infinite;
}

.title span:nth-of-type(3) {
  animation: blink 10s ease-in-out 18s infinite;
}

.title span:nth-of-type(4) {
  animation: blink 10s ease-in-out 7s infinite;
}

.title span:nth-of-type(5) {
  animation: blink 10s ease-in-out 14s infinite;
}


@keyframes blink {
  0% {
    text-shadow: none;
    color: rgb(50, 90, 50);
  }


  2%,
  100% {
    color: white;
    text-shadow:
      0px 1px 4px #fff,
      0px 1px 11px #9de2ae,
      0px 1px 19px #3e764c,
      0px 1px 40px #3e764c,
      0px 1px 80px #3e764c,
      0px 1px 90px #092c12,
      0px 1px 100px #092c12,
      0px 1px 150px #092c12;
  }
}