.connect-button {
  position: relative;
  color: #9de2ae;
  font-size: 20px;
  border: 4px solid #9de2ae;
  border-radius: 15px;
  padding: 10px 55px 10px 20px;
  filter: drop-shadow(0 1px 5px #3e764c) drop-shadow(0 1px 25px #3e764c) contrast(2) brightness(2);
  cursor: pointer;
  transition: .3s;
}

.connect-button.connected {
  cursor: auto;
  padding: 10px 20px;
}

.connect-button:not(.connected):hover {
  filter: drop-shadow(0 1px 8px #3e764c) drop-shadow(0 1px 25px #3e764c) contrast(2) brightness(2);
}

.connect-button .metamask-icon {
  position: absolute;
  top: 8px;
  right: 14px;
  height: 30px;
}