.connect-button {
  color: #61a273;
  font-size: 20px;
  border: 4px solid #61a273;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 55px 10px 20px;
  filter: drop-shadow(0 1px 5px #61a273) drop-shadow(0 1px 50px #61a273) contrast(2) brightness(2);
  animation: flicker 2s ease-in-out 4s infinite alternate;
  transition: .8s;
}

.connect-button:hover {
  filter: drop-shadow(0 1px 15px #61a273) drop-shadow(0 1px 50px #61a273) contrast(2) brightness(2);
}

.connect-button .metamask-icon {
  position: absolute;
  top: 8px;
  right: 14px;
  height: 30px;
}