.connect-button {
  color: #61a273;
  font-size: 20px;
  border: 4px solid #61a273;
  border-radius: 15px;
  filter: drop-shadow(0 1px 5px #61a273) drop-shadow(0 1px 50px #61a273) contrast(2) brightness(2);
  padding: 12px 28px;
  cursor: pointer;
  transition: .8s;
  animation: flicker 2s ease-in-out 2s infinite alternate;
}

.connect-button:hover {
  filter: drop-shadow(0 1px 15px #61a273) drop-shadow(0 1px 50px #61a273) contrast(2) brightness(2);
}