.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  justify-items: center;
  align-items: center;
  padding: 20px 0;
}

.header:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 225px;
  width: 100%;
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}