.waves-list .total-waves-container {
  font-size: 15px;
  background-color: #0c320a;
  border-radius: 6px;
  padding: 5px 12px;
}

.waves-list .element-container:not(:first-of-type) {
  margin-top: 10px;
}