.waves-list {
  flex: 1 0 0;
  background-color: rgb(2 25 4 / 42%);
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #295d29;
}

.waves-list .all-waves-label {
  font-size: 22px;
}

.waves-list .total-waves-container {
  font-size: 15px;
  background-color: #0e3a0b;
  border-radius: 6px;
  padding: 5px 12px;
}

.waves-list .waves-container {
  margin-top: 15px;
}

.waves-list .wave-container {
  background-color: #0e3a0b;
  border-radius: 6px;
  padding: 5px 12px;
  margin-top: 10px;
}

.waves-list .please-connect-label {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 12px;
}