.waves-list {
  flex: 1 0 0;
  background-color: rgb(2 25 4 / 42%);
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #295d29;
}

.waves-list .all-waves-label {
  font-size: 22px;
}

.waves-list .total-waves-container {
  font-size: 15px;
  background-color: #0c320a;
  border-radius: 6px;
  padding: 5px 12px;
}

.waves-list .waves-container {
  margin-top: 20px;
}

.waves-list .wave-container {
  border: 1px solid #295d29;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.waves-list .wave-container>div {
  flex: 1 0 0;
}

.waves-list .wave-property-name {
  color: #295d29;
  font-size: 14px;
  margin-bottom: 3px;
}

.waves-list .please-connect-label {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 12px;
}

.waves-list .pagination-buttons-container {
  margin-top: 20px;
}

.waves-list .pagination-buttons-container>div {
  flex: 1 0 0;
}

.waves-list .pagination-button {
  width: fit-content;
  background-color: #0c320a;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;
}

.waves-list .pagination-button:hover {
  transform: scale(1.07);
}

.waves-list .pagination-button.disabled {
  opacity: .5;
  pointer-events: none;
}

.waves-list .pagination-counter {
  font-size: 13px;
  opacity: .7;
}