.top-wavers .top-waver-element-container:not(:first-of-type) {
  margin-top: 10px;
}

.top-wavers .left-container>div {
  margin-right: 25px;
}

.top-wavers .position-icon-container {
  width: 40px;
  height: 40px;
  background-color: #0c320a;
  border-radius: 50%;
  margin-right: 20px;
}