.top-wavers {
  flex: 1 0 0;
  background-color: rgb(2 25 4 / 42%);
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #295d29;
}

.top-wavers .top-wavers-label {
  font-size: 22px;
}

.top-wavers .wavers-container {
  margin-top: 20px;
}

.top-wavers .please-connect-label {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 12px;
}