.socials {
  gap: 10px;
}

.socials svg {
  cursor: pointer;
  filter: drop-shadow(0 1px 5px #44945a) drop-shadow(0 1px 50px #44945a) contrast(2) brightness(2);
  animation: flicker 2s ease-in-out 2s infinite alternate;
  transition: .8s;
}

.socials svg:hover {
  filter: drop-shadow(0 1px 15px #44945a) drop-shadow(0 1px 50px #44945a) contrast(2) brightness(2);
}