.socials {
  gap: 10px;
}

.socials svg {
  cursor: pointer;
  filter: drop-shadow(0 1px 5px #3e764c) drop-shadow(0 1px 25px #3e764c) contrast(2) brightness(2);
  transition: .3s;
}

.socials svg:hover {
  filter: drop-shadow(0 1px 8px #3e764c) drop-shadow(0 1px 25px #3e764c) contrast(2) brightness(2);
}

.socials.mobile a {
  transform: scale(0.9);
}