.wave-box {
  width: 800px;
  background-color: rgb(2 25 4 / 42%);
  border-radius: 15px;
  border: 1px solid #295d29;
  padding: 20px 30px;
  margin: 0 5%;
}

.wave-box .wave-at-me-button {
  font-size: 18px;
  width: fit-content;
  background-color: rgb(12 50 10);
  padding: 15px 25px;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: .3s;
}

.wave-box .wave-at-me-button:hover {
  transform: scale(1.05);
}