.wave-box {
  width: 800px;
  max-width: 80%;
  color: #61a273;
  font-size: 20px;
  border: 4px solid #61a273;
  border-radius: 15px;
  padding: 10px 20px;
  filter: drop-shadow(0 1px 5px #61a273) drop-shadow(0 1px 50px #61a273) contrast(2) brightness(2);
  transition: .5s;
}