.main-container {
  height: 100vh;
  background: linear-gradient(45deg, #0d1a0d, #063712);
  background-size: 400% 400%;
  animation: GradientAnimation 10s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}