body {
  margin: 0;
  color: white;
  font-family: SpaceGrotesk;
  background-color: rgb(40, 40, 40);
}

/*** Font Classes ***/

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"), url("assets/fonts/SpaceGrotesk-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SpaceGroteskBold";
  src: local("SpaceGrotesk"), url("assets/fonts/SpaceGrotesk-Bold.otf") format("truetype");
}

@font-face {
  font-family: "NeonBallroom";
  src: local("SmallPixel"), url("assets/fonts/NeonBallroom.otf") format("truetype");
}

.font-bold {
  font-family: SpaceGroteskBold;
}

/*** Flex Layout Classes ***/

.flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

/*** Other Classes ***/

.margin-bottom-10 {
  margin-bottom: 10px;
}

.opacity-0 {
  opacity: 0;
}